* {
    margin: 0;
    font-family: Roboto;
}

body {
    padding: 1em;
    text-align: center;
}

h2 {
    padding: 0.5em;
}



form {
    padding: 1em;
}

#number {
    padding: 0.5em;
}




.get-jokes {
    padding: 0.5em;
}